@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    > li {
      display: inline-block;
      align-items: vertical;
    }
  }

  span {
    
  }
}

.right-nav  {
  > ul {
    > li {
      display: inline-block;
      align-items: vertical; 
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    